NOTES.md
Experiments.md
data/
!data/.gitkeep
wandb/
trained_models/
output/

# Ignore Python bytecode
__pycache__/
*.py[cod]
*.pyo
tests/__pycache__/
src/dataset/__pycache__/

# Ignore virtual environments (if any)
venv/
env/

# Ignore other common temporary files
*.log
*.tmp
*.swp
.DS_Store

# Ignore vscode files
.vscode
